body {
	background-color: pink;
	margin: 0px;

}

ul {
	list-style: none;
	margin-top: 0px;

}

nav {
	background-color: green;
	height: 40px;

}

li {
	display: inline;

}

img {
	max-width: 250px;
}

table,
th,
td {
	border:	1px solid red;
	margin: auto;
}

.center-text {
	text-align: center;
}

.tags {
	margin: none;
}